OPENROUTER_API_KEY=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
OPENROUTER_MODEL=openrouter/free
HINDSIGHT_API_KEY=hsk_909d867a148c6221bc36ff38cc1b77dd_e47d19d05c1e5788
HINDSIGHT_API_URL=https://api.hindsight.vectorize.io
HINDSIGHT_BASE_URL=https://api.hindsight.vectorize.io
